.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.food-item {
    border: 1px solid #ddd;
    border-radius: 40px;
    padding: 15px;
    margin: 10px;
    background-color: #ddd;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}