.navbar {
    background-color: #333;
    color: #fff;
    padding:30px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navbar-logo {
    position: absolute;
    left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.navbar-logo img {
    width: 150px;
    height: auto;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}


